# 자주 사용하는 판다스 정리

[판다스 기본 설명](https://github.com/MindException/MS_AI_School_WorkSpace/blob/main/python/library/Pandas.ipynb)에 좀 더 추가하여 정리한다.

In [6]:
import pandas as pd
import numpy as np

### 시리즈 기본 생성

In [2]:
sample = pd.Series([1116, 12259, 65119, 16699],
index=["서울", "부산", "인천", "대구"])
sample.name = "총 생산량1"
sample.index.name = "지역1"
sample

지역1
서울     1116
부산    12259
인천    65119
대구    16699
Name: 총 생산량1, dtype: int64

.name은 시리즈가 담고 있는 데이터의 대표이름이 되며, 데이터 프레임으로 변환 시 column의 이름이 된다.  
.index.name은 인덱스들을 대표하는 이름이 된다.

### 불린 인덱싱(Boolean Indexing)

R에서 편리하게 인덱스에 조건을 주어서 조건에 맞는 자료구조를 출력하는 기능이다.

In [3]:
sample > 10000

지역1
서울    False
부산     True
인천     True
대구     True
Name: 총 생산량1, dtype: bool

In [5]:
type(sample > 10000)

pandas.core.series.Series

판다스에서는 조건 연산자를 넣어서 출력하면 시리즈로 반환하는 기능이 있다.  
넘파이에서는 numpy.ndarray로 반환한다.

In [4]:
sample[sample > 10000]

지역1
부산    12259
인천    65119
대구    16699
Name: 총 생산량1, dtype: int64

불린 시리즈를 조건으로 인덱싱하여 조건에 맞는 시리즈를 반환한다.

### 시리즈 to 데이터프레임

시리즈를 데이터프레임으로 변환한다.  
먼저 .name과 .index.name이 없는 경우부터 살펴본다.

In [16]:
s = pd.Series([1116, 12259, 65119, 16699],
index=["서울", "부산", "인천", "대구"])
s

sdf = pd.DataFrame(s, columns = ["s",])
sdf

        s
서울   1116
부산  12259
인천  65119
대구  16699

.name과 .index.name이 있는 경우에 columns를 설정한다면 아래와 같이 출력되는 것을 볼 수 있다.

In [20]:
sample_df = pd.DataFrame(sample, columns = ["sample"])
sample_df

Empty DataFrame
Columns: [sample]
Index: []

In [21]:
sample_df = pd.DataFrame(sample)
sample_df

     총 생산량1
지역1
서울     1116
부산    12259
인천    65119
대구    16699

### 데이터 프레임 합치기(여기부터 다시하기)

데이터 프레임에서 동일한 인덱스의 값이 없는데 합 칠 경우 Nan으로 표현한다.

In [22]:
te = pd.DataFrame([s, sample])
te

             서울     부산     인천     대구
Unnamed 0  1116  12259  65119  16699
총 생산량1     1116  12259  65119  16699